{% extends 'base.html.twig' %}

{% block title %}Article{% endblock title %}


{% block main %}

    <main>

        <section class="container">
            {# Row 1 #}
            <div class="row justify-center"><div id="imgArticle">
                    <img src="{{ asset('uploads/articles/' ~ article.imageFileName) }}" alt="Image" class="resp">
                </div></div>
            {# Row 2 #}
            <div class="row justify-center"><div id="titleArticle"><h1>{{ article.title }}</h1></div></div>
            {# Row 3 #}
            <div class="row justify-center"><div id="contentArticle"><p>{{ article.content }}</p></div></div>
        </section>
    </main>

{% endblock main %}