{% extends 'base.html.twig' %}

{% block title %}ArticlesList{% endblock title %}


{% block main %}

<main>
    <section class="row justify-around" id="articles">
        {% for article in articles %}
            <div class="card">
                <div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock main %}