{% extends 'base.html.twig' %}

{% block title %}ArticlesList{% endblock title %}


{% block main %}

    <main>
        <section class="row flex-wrap justify-center" id="categories">
            {% for category in categories %}
                <div style="background-color: {{ category.color}}"  class="card">
                    <a href="{{ path('categorie_show', {'id': category.id} ) }}">
                        <h1>{{ category.title }}</h1>
                    </a>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main %}