{% extends 'base.html.twig' %}

{% block title %}Article{% endblock title %}


{% block main %}

    <main>

        {# J'utilise la fonction twig form pour afficher mon formulaire
        (avec en parametre la variable de formulaire twig #}
        {{ form(formView) }}

    </main>

{% endblock main %}